.card {
  height: 100%;
  background-color: #1c2120;
  width: 100%;
  min-width: 350px;
  border-radius: 40px;
  border: 2px solid #7ed957;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.number {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: white;
  color: #1c2120;
  font: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardcontent {
  color: white;
  opacity: 0.8;
  line-height: 1.8;
  margin-bottom: 20px;
}
.readmorebtn {
  outline: none;
  border: none;
  color: #1c2120;
  background-color: #7ed957;
  padding: 15px 0px;
  width: 100%;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  will-change: transform;
}

.readmorebtn:hover {
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .card {
    height: 450px;
    min-width: 330px;
  }
}
