.heroc {
  width: auto;
  height: 100%;
  padding-top: 50px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.para {
  line-height: 1.8;
  padding-top: 10px;
}

.arrow {
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}


