.heroc {
  width: auto;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.para {
  line-height: 1.8;
  padding-top: 10px;
}

.arrow {
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .heroc {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
  }

  .para {
    padding-left: 20px;
    padding-right: 20px;
  }

  .arrow {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
}
