*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "JetBrains Mono", monospace;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#root{
  height: 100%;
  max-width: 1600px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
}

